@font-face {
    font-family: 'Bebas';
    src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

html{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 19px 20px 19px 20px;

}


.abstractLine{
    position: absolute;
    width: 181px;
    height: 30px;
    flex-shrink: 0;
    background: #AAA;
    
    top: 43px;
    z-index: 0;
}

.bebas {
    font-family: 'Bebas', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    z-index: 2;
}


/* header */

.header-left-top {
    display: flex;
    align-items: center;
}

.productType {
    position: relative;
    margin: 0;
    width: inherit;

}
.document_number {
    display: flex;
    font-size: 34px;
    margin-left: 25px;

}

/* /header */



/* InfoBlock */

.InfoBlock {
    font-family: 'Bebas', Arial, sans-serif;
}


h1 {
    color: var(--black, #1C1B1F);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    padding: 0;
    z-index: 2;
}

h2 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    color: #000;
    font-size: 14px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    line-height: 0.5;
}

/* /InfoBlock */



/* BuyerInfo */

.BuyerInfo {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}




/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}



th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #000;
    color: var(--white, #FFF);
    font-family: Bebas Neue;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    text-align: end;
}

td {
    color: var(--black, #1C1B1F);
    font-size: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: end;
}

.align-end {
    text-align: end;
}
.align-start {
    text-align: start;
}


tr {
    border: 1px solid #000;
}

/* /Table */


/* summary */
.summary {
    display: flex;
    flex-direction: column;
}

.summary span {
    color: var(--black, #1C1B1F);
    font-size: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.summary div {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
    margin-top: 5px;
}

.summary div:last-child {
    margin-top: 15px;
}

/* /summary */

/* payNotification */
.payNotification {
    display: flex;
    color: var(--black, #1C1B1F);
    font-size: 16px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    text-align: end;
    justify-content: end;
    margin-right: 8px;
    margin-top: 15px;
}

.payerTask {
    display: flex;
    color: var(--black, #1C1B1F);
    font-size: 16px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: end;
    justify-content: end;
    margin-right: 8px;
    margin-top: 5px;
    font-weight: 700;
}

/* /payNotification */



/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* flex-shrink: 0; */

    margin-top: auto;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 95%;
    

}

.documentMetaData {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.documentMetaData {
    color: #000;
    font-size: 12px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.digitDoc{
    color: var(--black, #1C1B1F);
    font-size: 12px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


/* /footer */